<% if current_user.is_admin? %>
  <div class="col-md-3" id="leftCol">
    <ul class="nav nav-stacked" id="sidebar">
      <li><%= link_to t("manage_book"), admin_books_path %></li>
      <li><%= link_to t("manage_author"), admin_authors_path %></li>
      <li><%= link_to t("manage_publisher"), admin_publishers_path %></li>
      <li><%= link_to t("manage_categories"), admin_categories_path %></li>
      <li><%= link_to t("manage_request"), admin_requests_path %></li>
    </ul>
  </div>
<% else %>
  <div class="col-md-3" id="leftCol">
    <ul class="nav nav-stacked" id="sidebar">
      <li><%= link_to t("book"), books_path %></li>
      <li><%= link_to t("request"), requests_path %></li>
      <li><%= link_to t("categories"), categories_path %></li>
      <li><%= link_to t("authors"), authors_path %></li>
      <li><%= link_to t("publishers"), publishers_path %></li>
    </ul>
  </div>
<% end %>
